// =============================================================================
// #COLORS
// =============================================================================

$color-gray:       $oc-gray-5;
$color-gray-dark:  $oc-gray-9;
$color-gray-light: $oc-gray-1;

$color-green:       $oc-green-5;
$color-green-light: $oc-green-0;

// Global Colors
// =============================================================================

$global-bg-color: $color-green-light;
