 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40397307-10', 'auto');
  ga('send', 'pageview');

</script>

<script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
  Smooch.init({
    appToken: 'dmr1fytsagln00be5p1enxfnd',
    customText: {
      headerText: 'Hier kannst Du direkt mit mir in Kontakt treten.',
      introductionText: 'Ich bin nicht immer online, versuche aber so schnell es geht zu antworten.',
      inputPlaceholder: 'Schreib mir eine Nachricht...',
      sendButtonText: 'Senden',
      emailCaptureEnabled: true
    }
  });
</script>
<script type="text/javascript" src="{{ site.assets_base_url }}app.js"></script>
