<form class="js-newsletter u-align-center" action="//echtland.us11.list-manage.com/subscribe/post" method="POST">
  <input type="hidden" name="u" value="49802fcb274161202afdc8c64">
  <input type="hidden" name="id" value="1b935b6598">
  <input type="hidden" name="b_49802fcb274161202afdc8c64_1b935b6598" value="">
  <input type="email" name="EMAIL" placeholder="E-Mail eintragen" required>
  <div class="js-newsletter-notice"></div>
  <input type="submit" value="Newsletter bestellen" name="submit" class="c-btn c-btn--primary">
</form>
