.c-masthead {
  background-color: $global-primary-color;
  position: relative;
}

  .c-masthead__content {
    text-align: center;
  }

  .c-masthead__title {
    @include inuit-font-size(72px);
    color: white;
    margin: 0;
  }

  .c-masthead__subtitle {
    color: white;
    margin: 0;

    &:before, &:after {
      display: block;
      content: "";
      border-bottom: 3px solid white;
      position: absolute;
    }

    &:before {
      width: 90%;
      margin-left: 5%;
      bottom: -$inuit-global-spacing-unit-small;
    }

    &:after {
      width: 80%;
      margin-left: 10%;
      bottom: -$inuit-global-spacing-unit;
    }
  }
