.c-masthead {
  background-color: $global-primary-color;
  background-image: url('~images/cover.jpg');
  background-size: cover;
  background-position: center;
  position: relative;

  @include mq(desktop) {
    background-position: right center;
  }
}

  .c-masthead__content {
    text-align: center;
  }

  .c-masthead__title {
    @include inuit-font-size(72px);
    color: white;
    margin: 0;
  }

  .c-masthead__subtitle {
    color: white;
    margin: 0;

    // &:before, &:after {
    //   display: block;
    //   content: "";
    //   border-bottom: 3px solid white;
    //   position: absolute;
    // }

    // &:before {
    //   width: 60%;
    //   margin-left: 20%;
    //   bottom: -$inuit-global-spacing-unit-small;
    // }

    // &:after {
    //   width: 50%;
    //   margin-left: 25%;
    //   bottom: -$inuit-global-spacing-unit;
    // }
  }
