.c-nav {
  position: fixed;
  top: $inuit-global-spacing-unit-small;
  right: $inuit-global-spacing-unit-small;
  text-align: right;
  z-index: 99;
}

  .c-nav__action {
    width: 43px;
    height: 43px;
    border: 3px solid rgba($color-gray-dark, 0.2);
    border-radius: 50%;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    padding: 5px;
    background-color: rgba($color-gray-dark, 0.5);
    color: rgba(white, 0.5);
    display: inline-block;
    cursor: pointer;
  }

  .c-nav__list {
    display: none;
    border: 3px solid rgba($color-gray-dark, 0.2);
    list-style: none;
    margin-left: 0;
    margin-top: $inuit-global-spacing-unit-tiny;

    background-color: rgba($color-gray-dark, 0.5);
    color: white;
  }

  .c-nav__item {
    display: block;
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
    color: rgba(white, 0.9);

    &:hover {
      color: rgba(white, 0.8);
      text-decoration: none;
      background-color: rgba($color-gray-dark, 0.5);
    }
  }
