// =============================================================================
// #CIRCLE
// =============================================================================

.c-circle {
  position: relative;
  border-radius: 50%;
  background-color: $global-primary-color;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset,
              0 8px 16px rgba(0, 0, 0, 0.5);
  transition: box-shadow 150ms ease-out;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:hover {
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset,
                0 13px 16px rgba(0, 0, 0, 0.5);

    transform: scale(1.02) !important;
  }
}

  .c-circle__number {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 215px;
    color: rgba(white, 0.1);

    @include mq(tablet) {
      font-size: 200px;
    }

    @include mq(desktop) {
      font-size: 280px;
    }
  }

  .c-circle__title {
    font-weight: 300;
    @include inuit-font-size($inuit-font-size-h3);
    padding: 0 14.86%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 72%;
    overflow: hidden;
  }

  .c-circle__content {
    padding: 0 14.86%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 72%;
    overflow: hidden;
  }





// =============================================================================
// #SCROLL
// =============================================================================

.c-scroll {
  @include calc-dimensions(50px, 91px, 24px);
  background-image: url('~images/scroll_mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  bottom: $inuit-global-spacing-unit;
  transform: translateX(-50%);

  @include mq(tablet) {
    @include calc-dimensions(41px, 122px, 24px);
    bottom: $inuit-global-spacing-unit + 26px;
    background-image: url('~images/scroll_mouse.svg');
  }
}





// =============================================================================
// #LETTER
// =============================================================================

.c-letter {
  position: relative;
  z-index: 0;

  @include mq(tablet) {
    margin-top: -50px;
  }
}

  .c-letter__page {
    background-color: $oc-gray-0;
    color: $global-text-color;
    padding: $inuit-global-spacing-unit;
    position: relative;
    font-weight: 300;

    &:nth-child(1) {
      box-shadow: 0 0 10px rgba(0,0,0,0.3),
                  inset 0 0 50px rgba($oc-gray-9, 0.2);
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
      height: 100%;
      position: absolute;
      width: 100%;

      @include mq(tablet) {
        display: block;
      }
    }

    &:nth-child(2) {
      background-color: $oc-gray-1;
      box-shadow: 0 0 8px rgba(0,0,0,0.5);
      left: 0px;
      top: 0px;
      transform: rotate(-2.5deg);
      z-index: -1;
    }

    &:nth-child(3) {
      background-color: $oc-gray-2;
      box-shadow: 0 0 3px rgba(0,0,0,0.5);
      left: 0px;
      top: 0px;
      transform: rotate(1.4deg);
      z-index: -2;
    }
  }









.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  overflow: hidden;

  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    margin: auto;

    opacity: 0;
    transition: opacity .5s;

    &.active {
      opacity: 1;
    }
  }
}


.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
