<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} &middot; {{ site.subtitle }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <meta name="Language" content="German" />
    <meta http-equiv="CACHE-CONTROL" content="PUBLIC" />
    <meta name="distribution" content="Global" />
    <meta name="zipcode" content="85276" />
    <meta name="city" content="Pfaffenhofen" />
    <meta name="country" content="Germany" />

    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="http://markus-kaeser.de" />
    <meta property="og:image" content="http://markus-kaeser.de/assets/images/cover.jpg" />

    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="Q3jorVSUS20hx1mP9-85xvb5q_5AlySsboTY28nPjWQ" />

    <link href="{{ site.assets_base_url }}style.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  </head>
  <body>
    <nav class="c-nav">
      <div class="c-nav__action js-nav-open">
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <ul class="c-nav__list js-nav-list">
        <li><a class="c-nav__item" href="{{ site.baseurl }}/#start">Start</a></li>
        <li><a class="c-nav__item" href="{{ site.baseurl }}{% link ueber.html %}">Über Markus</a></li>
        <li><a class="c-nav__item" href="{{ site.baseurl }}/#einsatz">Einsatz</a></li>
        <li><a class="c-nav__item" href="#newsletter">Newsletter</a></li>
      </ul>
    </nav>

    {{ content }}

    <section class="c-section t-light u-padding-top-huge u-padding-bottom-huge">
      <div class="o-wrapper">
        <div class="c-section__heading">
          <h2 class="c-section__title js-top-in">
            Pack mas!
          </h2>
          <h3 class="c-section__subtitle js-top-in">
            Hier anmelden, in Kontakt bleiben und aktuelle Infos bekommen!
          </h3>
        </div>

        <div class="o-layout o-layout--middle o-layout--center js-track-visible" data-track-category="Page" data-track-action="scroll" data-track-label="Newsletter" id="newsletter">
          <div class="o-layout__item u-10/12@tablet u-8/12@desktop">
            {% include newsletter.html %}
          </div>
        </div>
      </div>
    </section>

    <footer class="c-section t-light u-padding-bottom js-track-visible" data-track-category="Page" data-track-action="scroll" data-track-label="Bottom">
      <div class="o-wrapper u-align-center">
        <div class="c-social-list u-margin-bottom">
          <a href="https://www.facebook.com/kaeserwaehlen" class="c-social-list__item js-track-click" target="_blank">
            <i class="fa fa-facebook-official fa-2x"></i>
          </a>
          <a href="https://twitter.com/Markus_Kaeser" class="c-social-list__item js-track-click" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/mkaeser/" class="c-social-list__item js-track-click" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
        </div>

        <div>
          &copy; 2017 Markus Käser
          &middot; Handgemacht mit <a href="http://hiasinho.com" target="_blank"><i class="fa fa-heart u-paint-red"></i></a> in Pfaffenhofen an der Ilm
          &middot; <a href="{{ site.baseurl }}{% link impressum.html %}">Impressum & Datenschutz</a>
        </div>
      </div>
    </footer>

    {% include javascripts.html %}
  </body>
</html>
