<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="robots" content="NOODP">
    <link href="{{ site.assets_base_url }}style.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body>
    {{ content }}

    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
      Smooch.init({ appToken: 'dmr1fytsagln00be5p1enxfnd' });
    </script>
    <script type="text/javascript" src="{{ site.assets_base_url }}app.js"></script>
  </body>
</html>
